
.mark {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $mark;

  .cbox {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius 20px
    background-color: $color2;
    color: $color2;
    h3{
      font-size 30px
      line-height 60px
      color $color4
    }
  }
}