table{
    border 1px  solid $select
    border-collapse collapse
    width 80%
    margin 20px auto
    tr{
        
        td,th{
            border 1px  solid $select
            color $tr
            text-align center
            line-height 35px
            font-size 15px
        }
    }
}
.cell img {
  width: 100%;
  height: auto;
}
.el-tabs >>> .el-tabs__header {
  padding-left: 60px;
}